@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "JulesText";
  src: url("fonts/JulesText-BoldItalic.eot");
  src: url("fonts/JulesText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/JulesText-BoldItalic.woff2") format("woff2"), url("fonts/JulesText-BoldItalic.woff") format("woff"), url("fonts/JulesText-BoldItalic.ttf") format("truetype"), url("fonts/JulesText-BoldItalic.svg#JulesText-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JulesText";
  src: url("fonts/JulesText-LightItalic.eot");
  src: url("fonts/JulesText-LightItalic.eot?#iefix") format("embedded-opentype"), url("fonts/JulesText-LightItalic.woff2") format("woff2"), url("fonts/JulesText-LightItalic.woff") format("woff"), url("fonts/JulesText-LightItalic.ttf") format("truetype"), url("fonts/JulesText-LightItalic.svg#JulesText-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "JulesText";
  src: url("fonts/JulesText-BlackItalic.eot");
  src: url("fonts/JulesText-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/JulesText-BlackItalic.woff2") format("woff2"), url("fonts/JulesText-BlackItalic.woff") format("woff"), url("fonts/JulesText-BlackItalic.ttf") format("truetype"), url("fonts/JulesText-BlackItalic.svg#JulesText-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "JulesText";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px;
}

.home header {
  background: hsl(15, 72%, 52%);
  background: linear-gradient(90deg, hsl(15, 72%, 52%) 0%, hsl(43, 79%, 58%) 50%, hsl(15, 72%, 52%) 100%);
  background: -moz-linear-gradient(90deg, hsl(15, 72%, 52%) 0%, hsl(43, 79%, 58%) 50%, hsl(15, 72%, 52%) 100%);
}
.home header h1 {
  font-size: 35px;
  color: #5f4b2e;
  max-width: 800px;
  text-align: center;
}
.home header .container {
  padding: 10px 20px;
}
.home header .container img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
}
.home .banner {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.home .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home .banner .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.home .banner .container img {
  width: 320px;
}
.home .banner .container .txt {
  max-width: 380px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.home .banner .container .txt p {
  color: #fff;
  font-size: 40px;
}
.home .banner .container .txt p strong {
  display: block;
  font-size: 50px;
}
.home .links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 80px 20px;
}
.home .links img {
  width: 100%;
}
.home .food {
  background-color: #fbf1de;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .food video {
  background-color: #000;
  width: 100%;
  height: 675px;
  max-width: 1200px;
}
.home .map {
  padding: 30px 0;
}
.home .map h3 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
.home .map img {
  display: block;
  margin: 0 auto;
}
.home footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home footer img {
  width: 300px;
}

.porque {
  background-size: cover;
  background-repeat: no-repeat;
}
.porque main {
  height: 100vh;
  color: #fff;
  max-width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.porque main h1 {
  font-size: 70px;
  margin-bottom: 30px;
}
.porque main h2 {
  font-size: 60px;
  margin-bottom: 30px;
}
.porque main h3 {
  font-size: 30px;
}
.porque main p {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: "Source Sans 3", sans-serif;
}
.porque main ul li {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Source Sans 3", sans-serif;
}
.porque footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
}/*# sourceMappingURL=styles.css.map */